html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303d49;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  height: 280px;
  width: 400px;
/*   background-color:#29353f; */
  background: linear-gradient(#303d49, #29353f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px
}

h1 {
  color: white;
  font-size: 1.8rem;
}

ul {
  margin-top: 15px;
  list-style: none;
  width: 90%;
  text-align: center;
  
}
.list-items {
  background-color: #eeedef;
  margin-bottom: 2px;
  padding: 8px;
}